.choices {
  cursor: pointer;
  animation: forwards fade-in 1s;
}

.choices:hover {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  row-gap: 20px;
}

@media only screen and (max-width: 800px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 801px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
